@import url('https://fonts.googleapis.com/css?family=Belanosima');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Belanosima', sans-serif;
}

:root{
    --textColor: #0c1618;
    --primaryColor: #004643;
    --secondaryColor: #faf4d3;
}



/* HEADER AND NAVBAR */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--primaryColor);
}

header .logo {
    font-weight: 500;
    font-size: 30px;
    color: var(--secondaryColor);
}

header .navbar a {
    justify-content: space-between;
    color: var(--secondaryColor);
    padding: 10px 15px;
    transition: background-color 0.3s;
}



/* HOME SECTION */



.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--textColor);
    background-color: var(--secondaryColor);
}

.home .home-content .home-text {
    padding: 20px;
    margin-left: 30px;
}

/* From Uiverse.io by Randdose */ 
.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: var(--primaryColor) solid 0.15em;
  border-radius: 0.25em;
  color: var(--primaryColor);
  font-size: 1.2em;
  font-weight: 200;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #212121;
}

.button:active {
  border-color: teal;
}

.button::after, .button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: var(--primaryColor);
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: teal;
}

.home .home-content .cv {
    margin-right: 100px;
}


/* ABOUT ME SECTION */



.about{
    background-color: var(--secondaryColor);
    align-items: center;
}

.about-contents {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.about-contents .about-col1 img{
    max-width: 100%;
    max-height: 100%;
}

.about-contents .about-col2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1400px;
}

.about-contents .about-col2 .about-text {
    text-align: center;
    border: var(--primaryColor) solid 3px;
    padding: 20px;
}

.about-contents .about-col2 .about-text p {
    text-align: left;
}

.about-contents .about-col2 .ferramentas {
    text-align: center;
    border: var(--primaryColor) solid 3px;
    padding: 20px;
    font-size: 1.8em;
}



/* PROJECT SECTION*/

.projects {
    background-color: var(--secondaryColor);
    padding: 30px;
}

.projects .container {
    display: flex;
    flex-direction: column;
}

.projects .container .section-heading{
    align-items: center;
    text-align: center;
    padding: 30px;
}

.projects .container .section-heading h1 {
    font-size: 2.5em;
}

.projects .container .projects-grid{
    text-align: left;
    justify-content: space-between;
    padding: 30px;
}

.projects .container .projects-grid .project-card {
    background-color: var(--secondaryColor);
    border: var(--primaryColor) solid 2px;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projects .container .projects-grid .project-card .project1 h2{
    padding: 10px;
}

.projects .container .projects-grid .project-card .project1 p {
    padding: 10px;
}

.projects .container .projects-grid .project-card .project1 ul {
    padding: 10px;
    text-indent: 30px;
    list-style: none;
}

.projects .container .projects-grid .project-card .project1 a {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 1.2em;
    padding: 30px;
}

.projects .container .projects-grid .project-card .project1 a:hover{
    opacity: 0.8;
    font-size: 1.4em;
}

.projects .container .projects-grid .project-card .project1 li {
    padding: 5px 0;
}

.projects .container .projects-grid .project-card .project2 h2{
    padding: 10px;
}

.projects .container .projects-grid .project-card .project2 p {
    padding: 10px;
}

.projects .container .projects-grid .project-card .project2 .github-links {
    display: flex;
    justify-content: space-between;
}

.projects .container .projects-grid .project-card .project2 .github-links a {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 1.2em;
    padding: 30px;
}

.projects .container .projects-grid .project-card .project2 .github-links a:hover{
    opacity: 0.8;
    font-size: 1.4em;
}

.projects .container .projects-grid .project-card .project3 h2{
    padding: 10px;
}

.projects .container .projects-grid .project-card .project3 p {
    padding: 10px;
}

.projects .container .projects-grid .project-card .project3 .github-links {
    display: flex;
    justify-content: space-between;
}

.projects .container .projects-grid .project-card .project3 .github-links a {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 1.2em;
    padding: 30px;
}

.projects .container .projects-grid .project-card .project3 .github-links a:hover{
    opacity: 0.8;
    font-size: 1.4em;
}

.projects .container .projects-grid .project-card .project3 .github-links {
    display: flex;
    justify-content: space-between;
}

.projects .container .projects-grid .project-card .project3 .github-links a {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 1.2em;
    padding: 30px;
}

.projects .container .projects-grid .project-card .project3 .github-links a:hover{
    opacity: 0.8;
    font-size: 1.4em;
}

.projects .container .projects-grid .project-card .project4 h2{
    padding: 10px;
}

.projects .container .projects-grid .project-card .project4 p {
    padding: 10px;
}

.projects .container .projects-grid .project-card .project4 .github-links {
    display: flex;
    justify-content: space-between;
}

.projects .container .projects-grid .project-card .project4 .github-links a {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 1.2em;
    padding: 30px;
}

.projects .container .projects-grid .project-card .project4 .github-links a:hover{
    opacity: 0.8;
    font-size: 1.4em;
}

.projects .container .projects-grid .project-card .project4 .github-links {
    display: flex;
    justify-content: space-between;
}

.projects .container .projects-grid .project-card .project4 .github-links a {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 1.2em;
    padding: 30px;
}

.projects .container .projects-grid .project-card .project4 .github-links a:hover{
    opacity: 0.8;
    font-size: 1.4em;
}

.projects .container .projects-grid .project-card .project4 .github-links {
    display: flex;
    justify-content: space-between;
}

.projects .container .projects-grid .project-card .project4 .github-links a {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 1.2em;
    padding: 30px;
}

.projects .container .projects-grid .project-card .project4 .github-links a:hover{
    opacity: 0.8;
    font-size: 1.4em;
}


/* CONTACT ME SECTION */

.contact{
    background-color: var(--secondaryColor);
}

.contact .container .section-heading{
    align-items: center;
    text-align: center;
    padding: 30px;
}

.contact .container .section-heading h1 {
    font-size: 2.5em;
}

.contact .container .contact-info {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.contact .container .contact-info .contact-left {
    align-items: center;
    text-align: center;
    margin-left: 30px;
    font-size: 1.2em;
}

.contact .container .contact-info .contact-right {
    align-items: center;
    text-align: center;
    margin-right: 30px;
    font-size: 1.2em;
    justify-content: space-between;
}

.contact .container .contact-info .contact-right a {
    color: var(--textColor);
    font-weight: bold;
    font-size: 1.5em;
    padding: 30px;
}

.contact .container .contact-info .contact-right a:hover {
    color: var(--primaryColor);
    font-size: 1.8em;
}